body{
    background-color: rgba(92, 74, 74, 0.534);
    font-family: 'Crimson Pro', serif;
    margin: 0px;
}
}
.font-size{
    font-size: 50px;
}
.color-highlight{
    color: rgba(212, 26, 35, 0.966);
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(45deg, rgb(215, 255, 122), tomato);
    padding: 10px 20px;
    border-radius: 5px;
   
    font-weight: 700;
}
.div-width{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
}
.padding-space{
    padding-bottom: 20px;
}
.div-width img{
    width: 100%;
}
section{
    height: 500px;
}

.common{
    box-sizing: content-box;
    height:30%;
    width: 30%;
    float: left;
}
.common img{
    width: 100%;
}
